@import url(https://fonts.googleapis.com/css?family=Raleway);
@import	url(https://fonts.googleapis.com/css?family=Lato);

body {
	font-family: 'Lato', 'Helvetica-Neue', 'Helvetica', 'sans-serif';
	font-size: 18px;
	font-weight: 300px;
	background-image: url('img/background.jpg');
	background-size: cover;
	background-attachment: fixed;
}

a:link	{
	color: #0000AA;
	text-decoration: none;
}

a:visited	{
	color: 0000AA;
	text-decoration: none;
}

a:hover {
	color: 0000EE;
}

a:focus	{
	color: 0000EE;

}